.header {
  /* height: 80px;
  /* max-width: 100vw; */

  /* display: flex;
  align-items: center;
  font-size: 1rem; */

  /* max-width: var(--maxwidth-container); */
  /* margin: 0 auto; */
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}

.logo_Ñontainer {
  display: flex;
  align-items: center;
}

.logo_image {
  width: 110px;
  height: 16px;
}

.desktop_menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop_menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.desktop_menu__item>a {
  /* font-size: 16px; */
  font-weight: 600;
  text-decoration: none;
  color: var(--color-dark-100);
}

.navigation>ul {
  list-style: none;
  display: flex;
}

.navigation>ul>li {
  margin-left: 48px;
}

.desktop_menu {
  display: none;
}

.mobile_menu {
  display: block;
  background-color: burlywood;
}

.hide {
  display: none;
  visibility: hidden;
}

.mobile_menu {
  background-color: #ffffff;
  height: 100vh;
  /* width: 100vw; */
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 80px;

}

.mobile_menu__list {
  padding-top: 32px;
  width: 100vw;
  /* position: absolute; */
  left: 0;
  padding: 24px;
  border-top: 1px solid #f5f5f5;
  overflow-x: hidden;
}

.mobile_menu__item {
  margin: 32px 0;
}

.mobile_menu__item>a {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-dark-100);
}

/*  */
/*
.mobile-menu-bar > nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 999;
  display: block !important;
  max-width: 100%;
}

.mobile-menu-bar > nav > ul > li {
  margin: 32px 0;
} */

/* .mobile-menu-bar > nav > ul > li > a {
  font-size: 24px;
  font-weight: 400;
}

.top_bar {
  height: 100%;
}

.nopads {
  padding: 0 !important;
} */

/*    MOBILE MENU     */

@media (min-width: 1024px) {
  .mobile_menu {
    display: none !important;
  }

  .desktop_menu {
    display: block !important;
  }

  .header {
    /* padding: 0 24px; */
  }

  .mobile-catalog-menu {
    display: none !important;
  }
}