.product_downloads {
  /* margin: 96px 24px; */
}

.product_downloads>div {
  display: flex;
  /* justify-content: space-between !important; */
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.download_link {
  display: flex;
  /* padding: 24px 48px; */
  /* background-color: var(--color-dark-10); */
  border: 1px solid var(--color-dark-20);
  /* min-width: 150px;
  min-height: 150px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download_link:hover {
  background-color: var(--color-dark-10);
}

.download_icon {
  color: var(--color-dark-30);
}

.model_title {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
}