.catalog_grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  margin: 0 !important;
}

@media (min-width: 760px) {
  .catalog {
    flex-direction: row !important;
    width: 100%;
  }

  .catalog_grid {
    grid-template-columns: 1fr 1fr;
  }

  .category_title {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .catalog_grid {
    grid-template-columns: 1fr 1fr 1;
  }
}

.category_title {
  /* margin-top: -10px; */
  font-size: 2rem;
  font-weight: 500;
  display: none;
}

.catalog {
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  flex-direction: column;
  max-width: 1600px;
}