@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(reset.css);

/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Montserrat", sans-serif;
  --max-site-width: 1600px;
  --color-dark-100: hsl(0, 0%, 10%);
  --color-dark-90: hsl(0, 0%, 15%);
  --color-dark-80: hsl(0, 0%, 20%);
  --color-dark-70: hsl(0, 0%, 25%);
  --color-dark-60: hsl(0, 0%, 35%);
  --color-dark-50: hsl(0, 0%, 45%);
  --color-dark-40: hsl(0, 0%, 60%);
  --color-dark-30: hsl(0, 0%, 75%);
  --color-dark-20: hsl(0, 0%, 85%);
  --color-dark-10: hsl(0, 0%, 95%);
  --maxwidth-container: 1600px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-dark-100);
  overflow-x: hidden;
}

.active {
  /* color: red; */
  font-weight: bold;
}

.container {
  width: 100%;
  padding: 0 24px;
}

.wrapper {
  /* max-width: 1600px;
  margin: 0 auto; */
  overflow-x: hidden;
}

.button_main {
  background-color: var(--color-dark-90);
  color: white;
  padding: 0.75rem 1.5rem;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.button_main:hover {
  background-color: var(--color-dark-80);
}

.button_link {
  background: none;
  color: var(--color-dark-90);
  padding: 0.75rem 1.125rem;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.form_group {
  margin: 24px 0;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background-color: var(--color-dark-10);
  font-family: Montserrat, sans-serif;
}

textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background-color: var(--color-dark-10);
  font-family: Montserrat, sans-serif;
}

::placeholder {
  color: var(--color-dark-20);
}

label {
  display: block;
  font-size: 12px;
  color: var(--color-dark-70);
  margin-top: 7px;
  font-weight: 500;
  margin-right: 4px;
}

h1 {
  /* @apply uppercase font-semibold text-[3.5vw]; */
  @apply uppercase font-semibold text-[1.75rem] leading-[2.5rem] sm:text-[2rem] md:text-[2.25rem] md:leading-[2.75rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem];
}

h2 {
  @apply uppercase font-semibold text-[1.25rem] sm:text-[1.25rem] md:text-[1.75rem] lg:text-[2rem] lg:leading-[3rem];
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.article {
  max-width: 1000px;
  line-height: 1.75rem;
}

.article>h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.article>ol {
  padding: 2rem;
}

.article>ol>li {
  padding: 1rem 0;
  list-style: decimal;
}

p {
  padding: 1rem 0;
}

.section_title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.page_heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

a:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.85;
}

.BaseContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 24px;
}