.info_wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-dark-10);
  margin: 2rem 0 1rem 0;
  margin: 0 auto;
}

.info_icon {
  color: var(--color-dark-90);
  min-width: 32px;
}

.decor_set_title {
  margin: 3rem 0 1rem 0;
}

.info_text {
  margin-left: 0.75rem;
  line-height: 1.5rem;
}

.decor_set {
  margin: 3rem 0;
}

.samples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  min-height: 150px;
}

.sample_item,
.sample_item_big {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  height: 100%;
  min-height: 150px;
}

.sample_item_big {
  min-height: 450px !important;
}

.sample_item_title {
  position: absolute;
  left: 8px;
  bottom: 12px;
  color: white;
  background-color: var(--color-dark-100);
  padding: 4px 8px;
  z-index: 2;
}

.sample_item_pre_title {
  font-size: 0.75rem;
}